.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Panels */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}

.panel .content {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  color: #FFF;
}

.panel .description {
  width: 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.panel img {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

.bottom .description {
  right: 5%;
}

.top {
  background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw;
}

.top .description {
  left: 5%;
}

/* Handle */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Responsive */
@media (max-width: 900px) {
  split {
      font-size: 75%;
  }
}


*,
*:after,
*:before {
  box-sizing: border-box;
}

.split {
  /*background: var(--gradient-1);*/
  background: var(--gray-2);
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Google Sans', sans-serif, system-ui;
}

.track-wrapper {
  width: 80%;
  max-inline-size: var(--size-content-3);
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
                               transparent 0,
                               black 15% 85%,
                               transparent
                             ) 0 50% / 100% calc(100% - (2 * var(--size-4))) no-repeat,
                             linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
                             linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;
}

img {
  height: 100%;
  width: 100%;
}

.track {
  --size: clamp(200px, 40vmin, 50rem);
  height: var(--size);
  width: 100%;
  display: flex;
  overflow: overlay;
  gap: var(--size-4);
  list-style-type: none;
  margin: 0;
  /*background: hsl(0 0% 100% / 0.25);*/
  padding: var(--size-4) 33%;
  scroll-snap-type: x mandatory;
  /* Circular inverted */
  /* -webkit-mask-image: radial-gradient(ellipse at 50% 66%, black 0 30%, transparent 30%);
  /* No Scrollbar */
  /* -webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% 20vmin / 240% 100%;*/
  /* Winner */
  /*-webkit-mask: radial-gradient(#0000 0 30%, #000 30%) 50% calc(var(--size) * 0.5) / 250% 100%,
                             linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
                             linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;*/
  -webkit-mask: radial-gradient(#0000 0 30%, #000 30.5%) 50% calc(var(--size) * 0.5) / 300% 100%,
                linear-gradient(0deg, black, black) 50% 0 / 100% var(--size-4) no-repeat,
                linear-gradient(0deg, black, black) 50% 100% / 100% var(--size-4) no-repeat;
}

.track__item {
  height: 100%;
  aspect-ratio: 1;
  background: hsl(0 80% 50% / 1);
  /*background: var(--surface-2);*/
  scroll-snap-align: center;
  /*display: none;*/
}

h1 {
  position: fixed;
  margin: 0;
  opacity: 0.5;
  bottom: var(--size-3);
  right: var(--size-3);
  font-size: var(--font-size-fluid-1);
}
